section:hover{
    box-shadow: 1px 1px 10px 5px #9EBDE1;
    transition: 0.5s;
}
#About-me{
    margin: 2% 10%;
    background-color: #fff;
    border-radius: 20px;
}

#About-me div{
    padding: 5% 0;
    margin: 5% 10%;
    margin-right: 30%;

}

#About-me h1,#About-me p,#Education h1,#Education p,#Education h2{
    color: #141414;
}

#About-me img{
    width: 40%;
    min-height: 250px;
    height: 60vh;
    margin-top: -8vh;
    float: right;
    border-radius: 15px;
    object-fit: contain;
}


#CV{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap ;
    margin: 0% 8%;
    margin-bottom: 5%;
}

#Skills,#Education,#Langs,#git,#Cont{
    margin: 1% 2%;
    border-radius: 20px;
}
#Skills,#Education{
    width: 46%;
}

#Education{
    background-color: #ffffff;
}
#Skills p,#Skills h1{
    color: #fff;
    margin: 0;
    padding: 0;
}
.content{
    padding: 5% 10%;
    margin: 0;
}

#Langs{
    width: 15vw;
    height: 70%;
    margin-top: 2%;
    margin-left: 10%;
}
#git,#Cont{
    border: solid 2px;
    width: 55vw;
    margin-top: 3%;
    height: 30%;
}
#git{
    box-shadow: 0 0 5px 2.5px #9EBDE1;
    border-color: #9EBDE1;
}
#Cont{
    box-shadow: 0 0 5px 2.5px #FE3D01;
    border-color: #FE3D01;
}
@media screen and (max-width: 800px) {
    #Skills,#Education,#git,#Cont,#Langs{
        width: 100%;
    }
    .right{
        display: none;
    }
}
.right{
    margin-top: -0.5em;
    font-size: 2em;
    float: right;
}